<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ariel.wizer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.LoginRegister"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="wizer"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.NavBarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".EditProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".chat.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".chat.ChatChannelsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".imageCrop.ImageCropActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".session.PostActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".session.CommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".demo.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".session.SessionTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".BaseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".session.ConnectSessionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".TermsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

    </application>

</manifest>