<nav class="wizer-nav navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="wizer-logo-div">
        <!--<img class="img-wizeup" src="/imgs/wizeup-logo.png">-->
    <!--<a class="navbar-brand wizer-logo" href="/"></a>-->
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active home-nav-btn fade-in first">
                <div class="wizer-logo-div">
                    <!--<img class="img-wizeup" src="/imgs/wizeup-logo.png">-->
                    <!--<a class="navbar-brand wizer-logo" href="/"></a>-->
                </div>
            </li>

            <li class="nav-item active home-nav-btn fade-in first">
                <a class="nav-link liner" href="/" ng-click="homeClick()">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item non-home-nav-btn fade-in first">
                <!--<a class="nav-link" href="#/">Profile</a>-->
                <!--<a class="nav-link profile-link" ng-href="#/profile/{{$rootScope.loggedUser._id}}" ng-if="isLogged">Profile</a>-->
                <a class="nav-link profile-link liner" ng-show="isLoggedIn()" ng-click="nonHomeClick()">Profile</a>
            </li>

            <li class="nav-item non-home-nav-btn fade-in first">
                <a class="nav-link session-link liner" href="/sessions/" ng-show="isLoggedIn()" ng-click="nonHomeClick()">Session</a>
            </li>

            <li class="nav-item non-home-nav-btn fade-in first">
                <a class="nav-link courses-link liner" href="/courses/" ng-show="isLoggedIn()" ng-click="nonHomeClick()">Courses</a>
            </li>


        </ul>



        <!--<div class="btn-group dropdown">-->
            <!--<button class="fas fa-bell btn btn-secondary"-->
                    <!--type="button" id="notificationsDropdown" data-toggle="dropdown"-->
                    <!--aria-haspopup="true" aria-expanded="false">-->

            <!--</button>-->
            <!--<div class="dropdown-menu" aria-labelledby="notificationsDropdown">-->
                <!--<div class="dropdown-item" ng-repeat="notification in notifications">-->
                    <!--{{notification.body}}-->
                <!--</div>-->
                <!--&lt;!&ndash;<a class="dropdown-item" href="#"></a>&ndash;&gt;-->
                <!--<a class="dropdown-item" href="#!">Action</a>-->
                <!--<a class="dropdown-item" href="#!">Another action</a>-->
            <!--</div>-->
        <!--</div>-->
        <div class="fade-in first" ng-show="isLoggedIn()">
            <button type="button" class="fas fa-bell btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu dropdown-menu-right notifications-cont">

                <div class="loading" ng-show="loadingNotifications" style="text-align: center;">
                    <div class="fa fa-spinner fa-spin" style="font-size:34px; margin: auto; width: 100%; margin-top: 8%;"></div>
                </div>

                <div class="no-nofitifications" ng-if="notifications.length === 0">
                    No notifications
                </div>
                <div class="dropdown-item" ng-repeat="notification in notifications">
                    <div class="notification-body font-weight-bold">{{notification.content}}</div>
                    <div class="notification-date">{{notification.creation_date | date: 'medium'}}</div>

                </div>
            </div>
        </div>



        <div class="nav-link login" data-toggle="modal" data-animation="false" data-target="#loginModal"
             style="cursor: pointer" ng-show="!isLoggedIn()">
            Log In
            <div class="underlined"></div>
        </div>
        <div class="nav-link login"
             style="cursor: pointer" ng-show="isLoggedIn()">
            <div class="logout-activator" ng-click="logout()">Log Out</div>
            <div class="underlined"></div>
        </div>
        <form class="form-inline my-2 my-lg-0 search-nav-form animate-show-hide" ng-show="showSearchNav">
        <!--<form class="form-inline my-2 my-lg-0" ng-if="$location.path() == '/'">-->

            <input class="form-control mr-sm-2" type="text" placeholder="Search" ng-model="searchTerm.keywords">
            <button class="btn btn-warning my-2 my-sm-0" type="submit"  ng-click="freeTextSearch()" >Search</button>

        </form>
    </div>
</nav>

<!--<div id="loginModal" class="modal fade" role="dialog" ng-controller="navController">-->
<div id="loginModal" ng-show="!isLoggedIn()" class="modal fade" role="dialog">
    <div class="modal-dialog modal-width">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="container modal-container">


                <!--<a class="google-btn" href="/auth/google">Google+</a>-->
                <!--<a class="facebook-btn" href="/auth/facebook">facebook</a>-->

                <!--<a class="google-btn" ng-click="googleLogin()">Google</a>-->
                <!--<a class="google-btn" ng-href="/auth/google">Google</a>-->
                <!--<a class="facebook-btn" ng-click="facebookLogin()">Facebook</a>-->
                <!--<a class="facebook-btn" ng-href="/auth/facebook">Facebook</a>-->

                <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->


                <form class="form-horizontal" role="form" name="signupform" ng-show="!isLoggedIn()">
                    <div class="sign-up">Sign up</div>
                    <br>
                    <!--<div class="row">-->
                    <div class="name-div row">
                        <div class="text col-3">First name:</div>

                        <input class="col-5" type="text" name="first_name" ng-model="user.first_name" required>
                        <div class="col-4" ng-show="signupform.first_name.$error.required">Required!</div>
                        <div class="col-4" ng-show="!signupform.first_name.$error.required"></div>

                        <div class="text col-3">Last name:</div>
                        <input class="col-5" type="text" name="last_name" ng-model="user.last_name" required>
                        <div class="col-4" ng-show="!signupform.last_name.$error.required"></div>
                        <div class="col-4" ng-show="signupform.last_name.$error.required">Required!</div>


                    </div>
                    <div class="email-div row">
                        <div class="text col-3">Email:</div>
                        <input class="col-5" type="email" name="email" ng-model="user.email" required>
                        <div class="col-4"
                             ng-show="!signupform.email.$error.required && !signupform.email.$error.email"></div>
                        <div class="col-4" ng-show="signupform.email.$error.required">Required!</div>
                        <div class="col-4" ng-show="signupform.email.$error.email">Invalid Email</div>
                    </div>

                    <div class="pass-div">
                        <div class="pass-first row">
                            <div class="text col-3">Password:</div>
                            <input class="col-5" type="password" name="password" ng-model="user.password" required
                                   ng-minlength="6">
                            <div class="col-4" ng-show="signupform.password.$error.required">Required!</div>
                            <div class="col-4" ng-show="signupform.password.$error.minlength">At least 6 characters!</div>
                            <div class="col-4"
                                 ng-show="!signupform.password.$error.minlength && !signupform.password.$error.required"></div>
                        </div>

                        <div class="confrm-pass row">
                            <div class="text col-3">Confirm password:</div>
                            <input class="col-5" type="password" name="password_cnfrm" ng-model="user.password_cnfrm"
                                   required>
                            <div class="col-4" ng-show="signupform.password_cnfrm.$error.required">Required!</div>
                            <div class="col-4" ng-show="!signupform.password_cnfrm.$error.required && user.password != user.password_cnfrm">
                                Wrong password!
                            </div>
                            <div class="col-4" ng-show="user.password == user.password_cnfrm"></div>
                        </div>
                    </div>

                    <div class="dropdown btn-group">
                        <button class="btn btn-secondary dropdown-toggle dropdown-header"
                                type="button" id="dropdownMenu1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Student
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <div class="dropdown-item" ng-click="roleChoose('student')">Student</div>
                            <div class="dropdown-item" ng-click="roleChoose('teacher')">Teacher</div>
                        </div>
                    </div>
                    <!--<div ng-if="true">{{user.role}}</div>-->
                    <br>

                    <!--<button ng-disabled="!user.role" ng-click="signup()">SIGN UP</button>-->
                    <button class="btn btn-success" ng-disabled="signupform.$invalid" ng-click="signup()">SIGN UP</button>

                    <!--</div>-->
                </form>
                <div class="err-msg">
                    <div class="login-err text-danger" ng-if="hasSignupError">{{signupErrorMessage}}</div>
                </div>


                <form name="loginform" ng-show="!isLoggedIn()">

                    <br><br>
                    <div class="or-text">OR</div>
                    <br><br>

                    <!--<div class="row">-->
                    <div class="sign-up">Log in</div>
                    <br>

                    <div class="email-div row">
                        <div class="text col-3">Email:</div>
                        <input class="col-5" type="email" name="email" ng-model="user.email" required>
                        <div class="col-4"
                             ng-show="!loginform.email.$error.required && !loginform.email.$error.email"></div>
                        <div class="col-4" ng-show="loginform.email.$error.required">Required!</div>
                        <div class="col-4" ng-show="loginform.email.$error.email">Invalid Email</div>
                    </div>

                    <div class="pass-div row">
                        <div class="text col-3">Password:</div>
                        <input class="col-5" type="password" name="password" ng-model="user.password" required
                               ng-minlength="6">
                        <div class="col-4" ng-show="loginform.password.$error.required">Required!</div>
                        <div class="col-4" ng-show="loginform.password.$error.minlength">At least 6 characters!</div>
                        <div class="col-4"
                             ng-show="!loginform.password.$error.required && !loginform.password.$error.email"></div>
                    </div>


                    <!--</div>-->
                    <button class="btn btn-primary" ng-disabled="loginform.$invalid" ng-click="login()">LOG IN</button>
                    <br><br>

                </form>

                <div class="err-msg">
                    <div class="login-err text-danger" ng-if="hasLoginError">{{loginErrorMessage}}</div>
                </div>

                <!--<div class="logout-btn-div">-->
                    <!--<button ng-if="isLogged" class="btn btn-default" ng-click="logout()">Log Out</button>-->
                <!--</div>-->


                <!--<div class="facebook-signin" ng-if="!isLogged">-->
                <!--<button type="button fb-btn" class="btn btn-primary login-button"><i-->
                <!--class="fa fa-facebook-square"></i>Log in with Facebook-->
                <!--</button>-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-default login-button" ng-click="FBLogin()"><i class="fa fa-facebook-square"></i>Log in with Facebook</button>&ndash;&gt;-->
                <!--</div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>