.home-page {
  background: rgba(255, 222, 143, 0.22);
  color: gray;
  .inner {
    color: rgba(255, 0, 38, 0.86);
  }

  .welcome-section {
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;

    .welcome-big {
      margin: auto;
      width: 70%;
      font-size: 220%;
      font-weight: 700;
    }
    .institutes {
      font-size: 150%;
      font-weight: 500;
      margin-left: 50%;
    }

    .borders {

      &.up-borders {
        position: absolute;
        border-top: 3px solid gray;
        border-right: 3px solid gray;
        width: 5%;
        margin-left: 82%;
        height: 25%;
      }

      &.down-borders {
        border-bottom: 3px solid gray;
        border-left: 3px solid gray;
        margin-top: 4%;
        width: 5%;
        margin-left: 8%;
        height: 45px%;
      }
    }
    .search-something {
      .search-input-group {
        margin-top: 5%;
      }
    }


  }


}

