.profile-page {

  .tmp-div {
    margin-top: 5%;
    margin-left: 15%;

    .tmp-header {
      font-size: 200%;
    }

    .tmp-details {
      .tmp-details-title {
        font-size: 130%;
      }
    }

  }

}