.profile-page {

  .tmp-div {
    margin-top: 5%;
    margin-left: 15%;

    .tmp-header {
      font-size: 200%;
    }

    .tmp-details {
      .tmp-details-title {
        font-size: 130%;
      }
    }
  }



  color: #c2200d;

  .left-hand-side {
    .basic-details-and-picture {
      padding: 7%;

      .profile-picture-and-name {
        text-align: center;
      }
    }
  }

  .right-hand-side {
    .about-me {
      padding: 7%;
    }
  }




}