.home-page {
  background: rgba(255, 222, 143, 0.22);
  color: gray;
  .inner {
    color: rgba(255, 0, 38, 0.86);
  }

  .welcome-section {
    padding-top: 3%;
    padding-bottom: 3%;

    .welcome-big {
      margin: auto;
      width: 70%;
      font-size: 220%;
      font-weight: 700;
    }
    .institutes {
      font-size: 150%;
      font-weight: 500;
      margin-left: 50%;
    }

  }


}

body {
  background: rgba(255, 222, 143, 0.44);

}

.wizer-nav {
  //height: 50px;
  background-color: #ff6654 !important;

  .wizer-logo {
    color: white !important;
    margin-right: 3%;
  }

}
.profile-page {


}