
<div class="course-page container">

    <div class="row">
        <div class="course-header display-4">{{course.name}}</div>
    </div>

    <br><br>

    <div class="row">

        <div class="col-3 left-hand-side picture-and-details">

            <div class="container basic-details-and-picture">
                <div class="course-picture-and-name">

                    <div class="course-upload-file">

                        <div class="upload-file-header">
                            Upload a new file!
                        </div>

                        <input id="file-course-image" type="file" name='recfile' file-model="myFile"/><br><br>
                        <button ng-click="uploadPhoto()" ng-disabled="true">Upload</button>
                    </div>

                    <h2>{{course.name}}</h2>
                </div>
                <div class="basic-details container">
                    <div class="teacher-name-and-locations" style="display: -webkit-box">

                        <div class="teacher-name">
                            <div class="name-header">Teacher:</div>
                            {{course.teacher_fname}} {{course.teacher_lname}}
                        </div>

                    </div>

                    <div class="message-me row">
                        <button class="btn btn-info" data-placement="right" data-toggle="tooltip"
                                title="Temporarily unavailable">Message
                        </button>
                    </div>

                    <div class="about-me" ng-show="course.about_me != ''">
                        <h3 class="about-me-header">About me:</h3>
                        <!--<div class="about-me-text read-more-activation"></div>-->

                        <div class="read-more-cut" ng-show="!readMore">
                            {{course.about_me.substring(0, 40) + "..."}}
                        </div>
                        <div id="about-me-text" class="collapse read-more-uncut" ng-show="readMore">
                            {{course.about_me}}
                        </div>
                        <button type="button" class="btn btn-sm" data-toggle="collapse" data-target="#about-me-text"
                                ng-click="readMoreButton()">Read {{readMore ? "less" : "more"}}
                        </button>

                    </div>


                </div>
            </div>

        </div>



        <div class="col-9 right-hand-side">





            <div class="d-flex flex-row mt-2">
                <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="tablist">
                    <li class="nav-item">
                        <a href="#overview" class="nav-link active" target="_self" data-toggle="tab" role="tab" aria-controls="lorem">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a href="#sessions" class="nav-link" target="_self" data-toggle="tab" role="tab" aria-controls="ipsum">Sessions</a>
                    </li>
                    <li class="nav-item">
                        <a href="#files" class="nav-link" target="_self" data-toggle="tab" role="tab" aria-controls="ipsum">Files</a>
                    </li>


                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel">
                        <h1>Lorem</h1>

                        <p>Aenean sed lacus id mi scelerisque tristique. Nunc sed ex sed turpis fringilla aliquet in in neque. Praesent posuere, neque rhoncus sollicitudin fermentum, erat ligula volutpat dui, nec dapibus ligula lorem ac mauris. Etiam et leo venenatis purus pharetra dictum.</p>

                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin tempor mi ut risus laoreet molestie. Duis augue risus, fringilla et nibh ac, convallis cursus purus. Suspendisse potenti. Praesent pretium eros eleifend posuere facilisis. Proin ut magna vitae nulla suscipit eleifend. Ut bibendum pulvinar sapien, vel tristique felis scelerisque et. Sed elementum sapien magna, placerat interdum lacus placerat ut. Integer varius, ligula bibendum laoreet sollicitudin, eros metus fringilla lectus, quis consequat nisl nibh ut nisi. Aenean dignissim, nibh ac fermentum condimentum, ante nisl rutrum sapien, at commodo eros sapien vulputate arcu. Fusce neque leo, blandit nec lectus eu, vestibulum commodo tellus. Aliquam sem libero, tristique at condimentum ac, luctus nec nulla.</p>
                    </div>
                    <div class="tab-pane fade" id="sessions" role="tabpanel">
                        <h1>Ipsum</h1>

                        <p>Aenean pharetra risus quis placerat euismod. Praesent mattis lorem eget massa euismod sollicitudin. Donec porta nulla ut blandit vehicula. Mauris sagittis lorem nec mauris placerat, et molestie elit vehicula. Donec libero ex, condimentum et mi dapibus, euismod ornare ligula.</p>

                        <p>In faucibus tempus ante, et tempor magna luctus id. Ut a maximus ipsum. Duis eu velit nec libero pretium pellentesque. Maecenas auctor hendrerit pulvinar. Donec sed tortor interdum, sodales elit vel, tempor turpis. In tristique vestibulum eros vel congue. Vivamus maximus posuere fringilla. Nullam in est commodo, tristique ligula eu, tincidunt enim. Duis iaculis sodales lectus vitae cursus.</p>
                    </div>
                    <div class="tab-pane fade" id="files" role="tabpanel">
                        <h1>Dolor</h1>

                        <p>Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris lobortis sem nec augue ultricies blandit. Nullam sed sem venenatis, pretium urna eget, scelerisque dolor. Morbi nec volutpat leo, quis faucibus tortor. Aenean vel rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non, sodales sagittis nulla. Proin interdum est at nulla laoreet, pulvinar pretium nisl rutrum. In vel elit a risus rhoncus accumsan vulputate non sapien. Sed et rhoncus velit. Nunc commodo augue fermentum, hendrerit neque at, ullamcorper arcu. Nulla tincidunt orci a lectus efficitur elementum. Donec molestie urna vestibulum augue placerat faucibus. In vitae orci vel mauris cursus viverra ac sit amet nisl. Phasellus odio tortor, ullamcorper eget ullamcorper eget, molestie eget justo. Integer elementum purus eget arcu fermentum tincidunt. Nullam erat tellus, dictum sit amet nisi eu, rutrum fermentum odio.</p>
                    </div>


                </div>
            </div>









        </div>

    </div>

</div>