
<div class="course-page container-fluid">


    <!--<div class="file-icon">TEST</div>-->
    <div class="row">
        <div class="course-header display-4">{{course.name}}</div>
    </div>

    <br><br>

    <div class="row">

        <div class="col-3 left-hand-side picture-and-details">

            <div class="container basic-details-cont">
                <div class="course-name">


                    <!--<h2>{{course.name}}</h2>-->
                </div>
                <div class="basic-details container">
                    <div class="teacher-name-and-locations row">

                        <div class="teacher-name-cont c-cont col-12">
                            <span class="name-header c-header col-6">Teacher: </span>
                            <span class="teacher-name c-info col-6">{{course.teacher_fname}} {{course.teacher_lname}}</span>
                        </div>

                        <div class="dept-name-cont c-cont col-12">
                            <span class="dept-header c-header col-6">Department: </span>
                            <span class="dept-name c-info col-6">{{course.department}}</span>
                        </div>

                        <div class="location-cont c-cont col-12">
                            <span class="location-header c-header col-6">Location: </span>
                            <span class="location-name c-info col-6">{{course.location}}</span>
                        </div>


                        <div class="points-cont c-cont col-12">
                            <span class="points-header c-header col-6">Points: </span>
                            <span class="points-name c-info col-6">{{course.points}}</span>
                        </div>

                        <div class="students-num-cont c-cont col-12">
                            <span class="students-num-header c-header col-12">{{course.students.length}} students attend this class</span>
                            <!--<span class="students-num-name c-info col-9"> </span>-->
                        </div>


                    </div>



                </div>
            </div>

        </div>



        <div class="col-9 right-hand-side">





            <div class="d-flex flex-row mt-2">
                <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="tablist">
                    <li class="nav-item">
                        <a href="#overview" class="nav-link active" target="_self" data-toggle="tab" role="tab" aria-controls="lorem">Sessions</a>
                    </li>
                    <li class="nav-item">
                        <a href="#sessions" class="nav-link" target="_self" data-toggle="tab" role="tab" aria-controls="ipsum">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a href="#files" class="nav-link" target="_self" data-toggle="tab" role="tab" aria-controls="ipsum" ng-click="getFiles()">Files</a>
                    </li>


                </ul>
                <div class="tab-content container">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel">
                        <h1>Lorem</h1>

                        <p>Aenean sed lacus id mi scelerisque tristique. Nunc sed ex sed turpis fringilla aliquet in in neque. Praesent posuere, neque rhoncus sollicitudin fermentum, erat ligula volutpat dui, nec dapibus ligula lorem ac mauris. Etiam et leo venenatis purus pharetra dictum.</p>

                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin tempor mi ut risus laoreet molestie. Duis augue risus, fringilla et nibh ac, convallis cursus purus. Suspendisse potenti. Praesent pretium eros eleifend posuere facilisis. Proin ut magna vitae nulla suscipit eleifend. Ut bibendum pulvinar sapien, vel tristique felis scelerisque et. Sed elementum sapien magna, placerat interdum lacus placerat ut. Integer varius, ligula bibendum laoreet sollicitudin, eros metus fringilla lectus, quis consequat nisl nibh ut nisi. Aenean dignissim, nibh ac fermentum condimentum, ante nisl rutrum sapien, at commodo eros sapien vulputate arcu. Fusce neque leo, blandit nec lectus eu, vestibulum commodo tellus. Aliquam sem libero, tristique at condimentum ac, luctus nec nulla.</p>
                    </div>
                    <div class="tab-pane fade" id="sessions" role="tabpanel">
                        <h1>Ipsum</h1>

                        <p>Aenean pharetra risus quis placerat euismod. Praesent mattis lorem eget massa euismod sollicitudin. Donec porta nulla ut blandit vehicula. Mauris sagittis lorem nec mauris placerat, et molestie elit vehicula. Donec libero ex, condimentum et mi dapibus, euismod ornare ligula.</p>

                        <p>In faucibus tempus ante, et tempor magna luctus id. Ut a maximus ipsum. Duis eu velit nec libero pretium pellentesque. Maecenas auctor hendrerit pulvinar. Donec sed tortor interdum, sodales elit vel, tempor turpis. In tristique vestibulum eros vel congue. Vivamus maximus posuere fringilla. Nullam in est commodo, tristique ligula eu, tincidunt enim. Duis iaculis sodales lectus vitae cursus.</p>
                    </div>
                    <div class="tab-pane fade" id="files" role="tabpanel">
                        <h1>Files</h1>

                        <div class="course-upload-file">

                            <div class="upload-file-header">
                                Upload a new file!
                            </div>

                            <input id="file-course-image" type="file" name='recfile' file-model="myFile"/>
                            <button ng-click="uploadFile()">Upload</button>
                        </div>


                        <div class="courses-file container">
                            <div class="row">

                                <div class="col-3" ng-repeat="file in courseFiles">
                                    <!--<div class="file-item file-icon">{{file.type}}</div>-->
                                    <!--<div class="file-name">{{file.originalName}}</div>-->

                                    <!--<a class="file-item file-icon" ng-href="{{file.url}}" data-extension="{{file.type}}">{{file.originalName}}</a>-->

                                    <div class="container">

                                        <div class="col-12">
                                            <div class="file-icon2">
                                                <span class="file__type">{{file.type}}</span>
                                            </div>
                                        </div>
                                        <div class="col-12 file-name">{{file.originalName | limitTo: 20}}</div>
                                    </div>

                                </div>

                            </div>
                        </div>



                    </div>


                </div>
            </div>









        </div>

    </div>

</div>