<!--<div class="profile-page">-->

<!--<div class="tmp-div">-->
<!--<div class="tmp-header">-->
<!--Welcome to {{profile.first_name}}'s profile page!-->
<!--</div>-->
<!--<div class="tmp-details">-->
<!--<div class="tmp-details-title">Details:</div>-->
<!--Last name: {{profile.last_name}}-->
<!--<br>-->
<!--Email: {{profile.mail}}-->
<!--<br>-->
<!--Age: {{profile.age}}-->
<!--<br>-->
<!--Register date: {{profile.register_date | date}}-->
<!--</div>-->


<!--</div>-->

<!--</div>-->


<div class="profile-page container-fluid">

    <div class="row">

        <div class="col-4 left-hand-side picture-and-details">

            <div class="container basic-details-and-picture">
                <div class="profile-picture-and-name">
                    <!--<img class="profile-picture" src="https://www.w3schools.com/w3images/avatar_hat.jpg"-->
                    <!--style="width:100%" alt="Avatar">-->
                    <div class="profile-picture-div">
                        <!--<img class="profile-picture" ng-src="{{getPhoto()}}" style="width: 100%;">-->

                        <!--<div class="cropArea">-->
                            <!--<img-crop image="myImage" result-image="myCroppedImage"></img-crop>-->
                        <!--</div>-->



                        <label for="file-profile-image">
                            <img class="profile-picture" ng-show="!pictureLoading" ng-src="{{profile.profile_img}}" style="width: 100%;">
                            <div class="picture-loading" ng-show="pictureLoading" style="text-align: center;">
                                <div class="fa fa-spinner fa-spin"></div>
                            </div>
                            <!--<img class="profile-picture" ng-src="{{myCroppedImage}}" style="width: 100%;">-->
                        </label>

                        <input id="file-profile-image" type="file" name='recfile' file-model="myFile"/><br><br>
                        <!--<button ng-click="uploadPhoto()">Upload</button>-->

                        <!--<div class="modal-btn" data-toggle="modal" data-target="#cropModal">-->
                            <!--open crop-->
                        <!--</div>-->

                        <!--<div class="cropArea">-->
                            <!--<img-crop image="myImage" result-image="profile.profile_img"></img-crop>-->
                        <!--</div>-->


                    </div>



                    <!--<h2>{{profile.display_name}}{{ profile.birthday | date : format : timezone}}</h2>-->
                    <h2>{{profile.display_name}}</h2>
                </div>
                <div class="basic-details container">
                    <div class="name-and-country row">
                        <div class="first-and-last-name col-12"
                             ng-show="profile.display_name != profile.first_name + ' ' + profile.last_name">
                            {{profile.first_name}} {{profile.last_name}} 
                        </div>

                        <div class="city-and-country col-6">
                            <span class="profile-city" ng-show="profile.city">{{profile.city}}</span>
                            <span class="profile-city" ng-show="profile.country">{{profile.country}}</span>
                        </div>

                        <div class="profile-age col-6">
                            <span class="profile-city" ng-show="hasBirthday">Age: {{calculateAge()}}</span>
                        </div>
                    </div>

                    <br><br><br>
                    <div class="about-me" ng-show="profile.about_me != ''">
                        <h3 class="about-me-header">About me:</h3>
                        <!--<div class="about-me-text read-more-activation"></div>-->


                        <div id="about-me-text" class="read-more-uncut">
                            {{profile.about_me}}
                        </div>
                        <!--<div class="read-more-cut" ng-show="!readMore">-->
                            <!--{{profile.about_me.substring(0, 40) + "..."}}-->
                        <!--</div>-->
                        <!--<div id="about-me-text" class="collapse read-more-uncut" ng-show="readMore">-->
                            <!--{{profile.about_me}}-->
                        <!--</div>-->
                        <!--<button type="button" class="btn btn-sm" data-toggle="collapse" data-target="#about-me-text"-->
                                <!--ng-click="readMoreButton()">Read {{readMore ? "less" : "more"}}-->
                        <!--</button>-->

                    </div>


                </div>
            </div>

        </div>

        <div class="col-8 right-hand-side">


            <ul id="clothing-nav" class="nav nav-tabs" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" target="_self" href="#home" id="home-tab" role="tab" data-toggle="tab"
                       aria-controls="home" aria-expanded="true">Timeline</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_self" href="#courses" role="tab" id="courses-tab" data-toggle="tab"
                       aria-controls="courses">Courses</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_self" href="#edit-profile" role="tab" id="edit-profile-tab"
                       data-toggle="tab" aria-controls="edit-profile">Edit Profile</a>
                </li>

                <!-- Dropdown -->
                <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" target="_self" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
                <!--Footwear-->
                <!--</a>-->
                <!--<div class="dropdown-menu">-->
                <!--<a class="dropdown-item" target="_self" href="#dropdown-shoes" role="tab" id="dropdown-shoes-tab" data-toggle="tab" aria-controls="dropdownShoes">Shoes</a>-->
                <!--<a class="dropdown-item" target="_self" href="#dropdown-boots" role="tab" id="dropdown-boots-tab" data-toggle="tab" aria-controls="dropdownBoots">Boots</a>-->
                <!--</div>-->
                <!--</li>-->

            </ul>
            <div id="sol" class="esfera"></div>
            <div id="container">
                <div id="tierra" class="esfera"></div>
            </div>

            <div class="loading" ng-show="loading" style="text-align: center;">
                <div class="fa fa-spinner fa-spin" style="font-size:184px; margin: auto; width: 100%; margin-top: 8%;"></div>
            </div>
            <!-- Content Panel -->
            <div id="clothing-nav-content" class="tab-content">

                <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">

                    <ul class="list-group container">

                        <li class="event-item list-group-item profile-event row" ng-repeat="event in events">

                            <div class="event-type col-12">
                                {{event.type.charAt(0).toUpperCase() + event.type.slice(1)}}
                            </div>
                            <div class="event-content col-10">
                                {{event.event}}
                            </div>
                            <div class="event-time float-right col-2">{{event.date | date: 'medium'}}</div>


                        </li>


                    </ul>

                    <!--<div class="profile-event" ng-repeat="event in events">-->

                        <!--<div class="event-type">-->
                            <!--{{event.type.charAt(0).toUpperCase() + event.type.slice(1)}}-->
                        <!--</div>-->
                        <!--<div class="event-content">-->
                            <!--{{event.event}}-->
                        <!--</div>-->
                        <!--<div class="event-time">{{event.date | date: 'medium'}}</div>-->


                    <!--</div>-->


                </div>

                <div role="tabpanel" class="tab-pane fade" id="courses" aria-labelledby="courses-tab">

                    <div class="course-list row">
                        <div class="single-course col-5 container" ng-repeat="course in courses">
                            <!--{{course}} <br><br> {{courses}}-->
                            <a class="course-anchor" ng-href="/courses/{{course.cid}}">
                            <div class="course-header">{{course.name}}</div>
                            <div class="course-no row">
                                <div class="col-6 courses-right-side">Course #:</div>
                                <div class="col-6 course-left-side">{{course.cid}}</div>
                            </div>

                            <div class="course-dep row">
                                <div class="col-6 courses-right-side">Department:</div>
                                <div class="col-6 course-left-side">{{course.department}}</div>
                            </div>

                            <div class="course-points row">
                                <div class="col-6 courses-right-side">Points:</div>
                                <div class="col-6 course-left-side">{{course.points}}</div>
                            </div>

                            <div class="course-class-room row">
                                <div class="col-6 courses-right-side">Room:</div>
                                <div class="col-6 course-left-side">{{course.location}}</div>
                            </div>
                            </a>
                        </div>
                        <div class="col-1"></div>
                    </div>


                </div>

                <div role="tabpanel" class="tab-pane fade" id="edit-profile" aria-labelledby="edit-profile-tab">


                    <form class="form-horizontal form-group" role="form" name="editProfileForm" ng-show="true">


                        <div class="name-div row">
                            <div class="text col-3">First name:</div>

                            <input class="col-5 form-control" type="text" name="fname" ng-model="editUser.first_name" required>
                            <div class="col-4"></div>

                            <div class="text col-3">Last name:</div>

                            <input class="col-5 form-control" type="text" name="lname" ng-model="editUser.last_name" required>
                            <div class="col-4"></div>

                            <div class="text col-3">Display name:</div>

                            <input class="col-5 form-control" type="text" name="dname" ng-model="editUser.display_name">
                            <div class="col-4"></div>

                            <div class="text col-3">Country:</div>

                            <input class="col-5 form-control" type="text" name="country" ng-model="editUser.country">
                            <div class="col-4"></div>

                            <div class="text col-3">Address:</div>

                            <input class="col-5 form-control" type="text" name="address" ng-model="editUser.address">
                            <div class="col-4"></div>

                            <div class="text col-3">Birthday:</div>

                            <input class="col-5 form-control" type="date" name="birthday" ng-model="editUser.birthday">
                            <div class="col-4"></div>


                            <div class="text col-3">Gender:</div>

                            <div class="dropdown btn-group col-5 form-control">
                                <button class="btn btn-secondary dropdown-toggle dropdown-header"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    {{(editUser.gender && editUser.gender !== '')? editUser.gender : 'Unspecified'}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <div class="dropdown-item" ng-click="genderChoose('Male')">Male</div>
                                    <div class="dropdown-item" ng-click="genderChoose('Female')">Female</div>
                                    <div class="dropdown-item" ng-click="genderChoose('Unspecified')">Unspecified</div>
                                </div>
                            </div>                            <div class="col-4"></div>

                            <div class="text col-3">About me: ({{about_me.input ? about_me.input.length : 0}}/120)</div>

                            <textarea maxlength="120" rows="4" cols="50" class="col-5 form-control" type="text" name="about_me"
                                      ng-model="editUser.about_me"></textarea>
                            <div class="col-4"></div>


                            <button class="btn btn-success" ng-click="editProfile()">Save</button>

                        </div>
                    </form>


                </div>

                <div role="tabpanel" class="tab-pane fade" id="dropdown-shoes" aria-labelledby="dropdown-shoes-tab">
                    <p>A shoe is an item of footwear intended to protect and comfort the human foot while doing various
                        activities. Shoes are also used as an item of decoration.</p>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="dropdown-boots" aria-labelledby="dropdown-boots-tab">
                    <p>A boot is a type of footwear and a specific type of shoe. Most boots mainly cover the foot and
                        the ankle, while some also cover some part of the lower calf. Some boots extend up the leg,
                        sometimes as far as the knee or even the hip.</p>
                </div>


            </div>

        </div>

    </div>

</div>







<div id="cropModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-width">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="container modal-container">





                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


